$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.Line {
  animation-delay: 1.5s;
}
.LineB {
  width: 500px;
  height: 400px;
  margin-top: -100%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0px;
  position: relative;
  font-size: .8em;
  -webkit-perspective: 600px;
}
/* -- make sure to declare a default for every property that you want animated -- */
/* -- general styles, including Y axis rotation -- */
.LineB .front {
    top: 0;
    z-index: 900;
    width:inherit;
    height: inherit;
    text-align: center;
  position:absolute;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    /* -- transition is the magic sauce for animation -- */
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.LineB.flip .front {
    z-index: 900;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
  position:absolute;
}
.LineB .back {
    top: 0;
    z-index: 800;
    width:inherit;
    height: inherit;
    -webkit-transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-transform: rotateY(-180deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    /* -- transition is the magic sauce for animation -- */
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  position:absolute;
}
.LineB.flip .back {
    z-index: 1000;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
  position:absolute;
}
.LineB{
  .pad{
    img{
      position:absolute;
      opacity:0;
      top:0;
      left:0;
    }
  }
  @for $i from 1 to 20 {
    @if $i < 10 {
      $s : '0' + $i
    }
    @else{
      $s : $i
    }
    &.C#{$s}{
      .back,.front {
        .pad{
          img:nth-child(#{$i}){
            opacity:1;
            transition:0.35s;
          }
        }
      }
    }
  }
}
@font-face {
      font-family: 'fontello';
      src: url('../fonts/fontello.eot?36315073');
      src: url('../fonts/fontello.eot?36315073#iefix') format('embedded-opentype'),
           url('../fonts/fontello.woff?36315073') format('woff'),
           url('../fonts/fontello.ttf?36315073') format('truetype'),
           url('../fonts/fontello.svg?36315073#fontello') format('svg');
      font-weight: normal;
      font-style: normal;
    }
.Movie{
  left:0;
  right:0;
  top:0;
  bottom:0;
  position: fixed;
}
#movie-wrap{
  padding-top:0;
}
.BackgroundCover{
  background-image:url(../img/onl-movie-cover.png);
  background-repeat:no-repeat;
  background-position:center center;
  background-size: cover;
  left:0;
  right:0;
  top:0;
  bottom:0;
  position: fixed;
}
.DeviceBackground{
  background-image:url(../img/device-background.jpg);
  background-repeat:no-repeat;
  background-position:center center;
  background-size: cover;
  left:0;
  right:0;
  top:0;
  bottom:0;
  position: fixed;
  display:none;
}
.Character{
  background-image:url(../img/onl-cha-01.png);
  background-repeat:no-repeat;
  background-position:right -30px;
  background-size: contain;
  left:0;
  right:0;
  top:0;
  bottom:0;
  position: fixed;
  animation-delay:0.3s;
  &.bounceOutRight{
  }
  @for $i from 2 to 20 {
    @if $i < 10 {
      $s : '0' + $i
    }
    @else{
      $s : $i
    }
    &.C#{$s}{
      background-image: url(../img/onl-cha-#{$s}.png);
    }
  }
}
.Navi{
  padding-top:15px;
  text-align:right;
}
.BtnShare{
  color: #FFFFFF ;
  background-color: #000000;
  border-radius:30px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.BtnShare:hover{
  background-color: #ffd800;
  color:#000000;
  text-decoration:none;
}    
.Icon
    {
      font-family: "fontello";
      font-style: normal;
      font-weight: normal;
      speak: none;
      display: inline-block;
      text-decoration: inherit;
      text-align: center;
    width:15px;
    height:15px;
      font-variant: normal;
      text-transform: none;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    border-radius:30px;
    }
h1 {
  padding-top:15px;
  z-index:9999;
  animation-delay:0.5s;
}
.Info{
  z-index:999;
  margin-top:-6%;
  animation-delay:1s;
}
.container-fluid.front{
  position:relative;
  z-index: 9999;
}
.CTA{
  z-index:9999;
  margin-top:-4%;
  padding:15px;
  position: relative;
  animation-delay:1.2s;
  cursor:pointer;

}
.CTA .Main{
  z-index:99999;
  margin-top:13%;
  padding:15px;
  position: absolute;
  animation-delay:2s;
  animation-iteration-count: infinite;
}
.CTA .Main:hover{
  transform:scale(1.5,1.5);
}
.CTA .Shine{
  z-index:9999;
  margin-top:16%;
  margin-left:-4%;
  padding:15px;
  position: absolute;
  animation-delay:2.2s;
}
.CTA .Skull{
  z-index:9999;
  margin-top:-6%;
  padding:15px;
  position: absolute;
  animation-delay:2.2s;
}
.CTA .BG{
  animation-delay:2s;
}
.LineA{
  z-index:999;
  margin-top:-25%;
  animation-delay:2s;
}
.List{
  position: fixed;
  text-align:center;
  z-index:99999;
  width:100%;
  bottom:38px;
  overflow:auto;
  // padding-left:65%;
}
.List ul {
  width:100%;
  padding:0;
  padding-top:20px;
  margin: 0 -10px;
}
.List ul li{
  width: 70px;
  height: 70px;
  display: inline-block;
    *display: inline;
  border-radius: 50px;
  border: 5px solid #000000;
  cursor:pointer;
  background-size:cover;
  transform:scale(1,1);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  box-shadow:0px 0px 5px 5px #FFFFFF inset;
  margin: 0 10px;
}
.List ul li:hover{
  transform:scale(1.3,1.3);
  border: 4px solid #000000;
}
.List ul li:active{
  transform:scale(1.3,1.3);
  border: 4px solid #000000;
}
.slick-track{
  padding: 50px 0;
}
.ChaPhoto01{
  background-image:url(../img/onl-photo-01.png);
}
.ChaPhoto02{
  background-image:url(../img/onl-photo-02.png);
}
.ChaPhoto03{
  background-image:url(../img/onl-photo-03.png);
}
.ChaPhoto04{
  background-image:url(../img/onl-photo-04.png);
}
.ChaPhoto05{
  background-image:url(../img/onl-photo-05.png);
}
.ChaPhoto06{
  background-image:url(../img/onl-photo-06.png);
}
.ChaPhoto07{
  background-image:url(../img/onl-photo-07.png);
}
.ChaPhoto08{
  background-image:url(../img/onl-photo-08.png);
}
.ChaPhoto09{
  background-image:url(../img/onl-photo-09.png);
}
.ChaPhoto10{
  background-image:url(../img/onl-photo-10.png);
}
.ChaPhoto11{
  background-image:url(../img/onl-photo-11.png);
}
.ChaPhoto12{
  background-image:url(../img/onl-photo-12.png);
}
.ChaPhoto13{
  background-image:url(../img/onl-photo-13.png);
}
.ChaPhoto14{
  background-image:url(../img/onl-photo-14.png);
}
.ChaPhoto15{
  background-image:url(../img/onl-photo-15.png);
}
.ChaPhoto16{
  background-image:url(../img/onl-photo-16.png);
}
.ChaPhoto17{
  background-image:url(../img/onl-photo-17.png);
}
.ChaPhoto18{
  background-image:url(../img/onl-photo-18.png);
}
.Footer{
  width:100%;
  padding:15px;
  left:0;
  right:0;
  bottom:0;
  position:fixed;
  z-index:999999;
  background-color:#000000;
  color:#696969;
  font-size:12px;
  text-align:center;
}
@media (max-width : 1600px ){
  .LineB {
    width: 500px;
    height: 400px;
    margin-top: -100%;
  }
} 
@media (max-width : 1199px ){
  .LineB {
    width: 500px;
    height: 400px;
    margin-top: -120%;
  }
} 
@media (max-width : 768px ){
  .Character{
    background-position:200px 0px;
    background-size:cover;
  }
  .Movie{
    display:none;
  }
  .LineB{
    width: 400px;
    height: 240px;
    margin-top:-6%;
  }
  .DeviceBackground{
    display: block;
  }
} 
@media (max-width : 639px ){
  h1 {
    padding-top:40%;
  }
  .Character{
    background-image: url(../img/onl-cha-01.png);
    background-repeat: no-repeat;
    background-position: 50px 0px;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
  }
  .Navi{
    padding-top:15px;
    text-align:left;
  }
  .CTA{
    margin-top:-25%;
  }
  .CTA .Main{
    margin-top:-0.5%;
    position:absolute;
    transform:scale(1.5,1.5);
  }
  .List ul {
    width:1000px;
  }
  .List ul li{
    position: relative;
    bottom: auto;
  }
  .List ul li{
    width: 50px;
    height: 50px;
    transform:scale(1,1);
  }

}

